<div class="flex justify-center items-center min-h-screen w-full">
  <div class="w-[80vw] max-h-[80vh]">
    <div class="bg-base-300 p-2 rounded-lg w-full">
      <div class="grid grid-cols-8 aspect-square w-full overflow-hidden rounded-lg">
        <ng-container *ngFor="let row of [0,1,2,3,4,5,6,7]">
          <ng-container *ngFor="let col of [0,1,2,3,4,5,6,7]">
            <div (click)="makeMove(row, col)" [ngStyle]="{
              'background-image': (row + col) % 2 === 0 ? 'url(assets/chess/beige_tile.png)' : 'url(assets/chess/brown_tile.png)',
              'background-size': 'cover'
            }"
            class="aspect-square flex items-center justify-center relative hover:bg-secondary/20 cursor-pointer">
              @if (isValidMove(col, row)) {
                <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
                <img src="assets/chess/possibleMove.png" class="w-1/2 h-1/2 opacity-30">
              </div>
              }
              
              <span *ngIf="row === 7" 
                    class="absolute bottom-1 right-1 text-[0.6rem] sm:text-xs md:text-xs text-gray-800 font-medium">
                {{['a','b','c','d','e','f','g','h'][col]}}
              </span>
              
              <span *ngIf="col === 0" 
                    class="absolute top-1 left-1 text-[0.6rem] sm:text-xs md:text-sm text-gray-700 font-medium">
                {{8 - row}}
              </span>

              @if (board && board[row] && board[row][col] !== undefined) {
                <app-chessfigure [figure]="board[row][col]" (figureClicked)="onFigureClicked($event)"></app-chessfigure>
              }
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="mt-4 flex flex-col sm:flex-row justify-between items-center gap-2">
        <div class="flex gap-4">
          <button (click)="startNewGame()" class="btn btn-primary btn-sm md:btn-md">Neues Spiel</button>
        </div>
        @if (currentTurn === 'BLACK') {
          <div class="badge badge-neutral">Schwarz ist am Zug</div>
        } @else {
          <div class="badge badge-neutral">Weiss ist am Zug</div>
        }
      </div>
    </div>
  </div>
</div>
